asgiref==3.5.1
autopep8==1.6.0
certifi==2021.10.8
distlib==0.3.4
Django==4.0.4
django-crispy-forms==1.14.0
env==0.1.0
idna==3.3
oauthlib==3.2.0
Pillow==9.3.0
pycparser==2.21
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.14.1
django-widget-tweaks==1.4.12
# moviepy
