{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <script>document.documentElement.className = document.documentElement.className + ' yes-js js_active js'</script>
    <title>Home 2 &#8211; Vidio &#8211; Multipurpose Video Manager WordPress theme</title>
    <meta name='robots' content='max-image-preview:large' />
    {% include "links.html" %}
</head>

<body
    class="bp-legacy page-template-default page page-id-776 theme-vidio pmpro-body-has-access woocommerce-no-js youzify-blue-scheme not-logged-in layout-wide wpb-js-composer js-comp-ver-6.7.0 vc_responsive no-js">
    {% block content %}
    {% endblock content %}
    
    {% include 'scripts.html' %}
</body>

</html