<header
    id="haru-mobile-header"
    class="haru-mobile-header header-mobile-3 header-mobile-sticky"
  >
    <div class="haru-mobile-header-wrap menu-mobile-fly">
      <div class="container haru-mobile-header-container">
        <div class="haru-mobile-header-inner">
          <div
            class="toggle-icon-wrap toggle-mobile-menu"
            data-ref="haru-nav-mobile-menu"
            data-drop-type="fly"
          >
            <div class="toggle-icon"><span></span></div>
          </div>

          <!-- Header mobile customize -->
          <div class="header-elements" style="font-size: inherit">
            <div class="header-elements-item">
              <div class="video-search-shortcode style-button">
                <a
                  href="javascript:;"
                  class="video-search-button"
                  data-effect="search-zoom-in"
                  ><i class="haru-icon haru-search"></i
                ></a>
                <div
                  id="video-search-popup-0"
                  class="video-search-popup white-popup mfp-hide mfp-with-anim"
                >
                  <form
                    role="search"
                    method="get"
                    class="haru-video-search search-form"
                    action="https://demo.harutheme.com/vidio/"
                  >
                    <label for="haru-video-search-field-0">
                      <span class="screen-reader-text">Search for:</span>
                      <input
                        type="search"
                        id="haru-video-search-field-0"
                        clas`s="search-field"
                        placeholder="Search videos&hellip;"
                        value=""
                        name="s"
                      />
                    </label>
                    <button type="submit" class="search-submit" value="Search">
                      <span>Search</span>
                    </button>
                    <input type="hidden" name="post_type" value="haru_video" />
                  </form>
                </div>
              </div>
            </div>
            <div class="header-elements-item">
              <div class="user-menu-shortcode default">
                <div class="user-account-wrap">
                  <div class="user-account-content logged-out">
                    <a href="../login/index.html" class="user-menu-login"
                      ><i class="haru-icon haru-user"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-elements-item">
              <div class="watch-later-element">
                <a href="javascript:;" class="watch-later-page-link">
                  <span class="watch-later-icon">
                    <i class="haru-icon haru-clock-o"></i>
                    <span class="watch-later-status"></span>
                  </span>
                </a>
                <ul class="haru-watch-later-list">
                  <li class="haru-watch-later-videos empty-video"></li>
                  <li class="haru-watch-later-empty-video">
                    <i class="haru-icon haru-file-video"></i>
                    <div class="watch-later-empty-message">
                      An empty videos list!
                    </div>
                  </li>
                  <li class="haru-watch-later-view-all">
                    <a
                      href="../watch-later/index.html"
                      class="haru-button haru-button-default"
                      >View all videos</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Header mobile customize -->
          <div class="header-logo-mobile">
            <a
              href="../index.html"
              class="logo-mobile-default"
              title="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
            >
              <img
                src="/static/wp-content/themes/vidio/framework/admin-assets/images/theme-options/logo.png"
                alt="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
              />
            </a>
            <a
              href="../index.html"
              class="logo-mobile-retina"
              title="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
            >
              <img
                src="/static/wp-content/themes/vidio/framework/admin-assets/images/theme-options/logo%402x.png"
                alt="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
              />
            </a>
          </div>
        </div>
        <div
          id="haru-nav-mobile-menu"
          class="haru-mobile-header-nav menu-mobile-fly"
        >
          <div class="mobile-menu-header">
            Menu<span class="mobile-menu-close"></span>
          </div>

          <ul id="menu-mobile-menu" class="haru-nav-mobile-menu">
            <li
              id="menu-item-mobile-626"
              class="haru-menu menu_style_dropdown menu-item menu-item-type-post_type menu-item-object-page level-0"
            >
              <a href="../home-1-old/index.html">Home</a>
            </li>
            <li
              id="menu-item-mobile-627"
              class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
            >
              <a href="#">Videos</a>
             
            </li>
            <li
              id="menu-item-mobile-632"
              class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
            >
              <a href="#">Features</a>
            </li>
            <li
              id="menu-item-mobile-655"
              class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
            >
              <a href="#">Shortcodes</a>
            </li>
            <li
              id="menu-item-mobile-673"
              class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
            >
              <a href="#">Submit</a>
            </li>
            <li
              id="menu-item-mobile-2423"
              class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
            >
              <a href="#">Pages</a>
            </li>
          </ul>
          <div class="mobile-header-social">
            <ul class="header-elements-item header-social-network-wrap">
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="haru-mobile-menu-overlay"></div>
      </div>
    </div>
  </header>
  <header
    id="haru-header"
    class="haru-main-header header-2 header-sticky sticky_light"
  >
    <div class="haru-header-nav-wrap">
      <div class="row header-nav-above d-flex justify-content-between">
        <div
          class="col-lg-2 col-md-2 header-left header-elements align-self-center"
        >
          <div class="header-elements header-elements-left">
            <ul class="header-elements-item header-social-network-wrap">
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="header-icon fa fa-pinterest"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-lg-8 col-md-8 header-center d-flex align-self-center align-items-center"
        >
          <!-- Menu Left -->
          <div
            class="menu-left header-navigation navbar navbar-toggleable-md"
            role="navigation"
          >
            <div id="left-menu-primary" class="menu-wrap">
              <ul
                id="left-menu"
                class="haru-main-menu nav-collapse navbar-nav nav-separate"
              >
                <li
                  id="menu-item-1244"
                  class="haru-menu menu_style_dropdown menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children level-0"
                >
                  <a href="{% url 'core:index' %}">Home</a>
                  
                </li>
                <li
                  id="menu-item-1245"
                  class="haru-menu haru_megamenu menu_style_column mega-col-columns-4 mega-fullwidth menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
                >
                  <a href="#">Videos</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Logo -->
          <div class="header-logo-wrap">
            <div class="header-logo has-logo-sticky">
              <a
                href="../index.html"
                class="logo-default"
                title="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
              >
                <img
                  src="/static/wp-content/themes/vidio/framework/admin-assets/images/theme-options/logo.png"
                  alt="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
                  style="max-height: 24px"
                />
              </a>
              <a
                href="../index.html"
                class="logo-black"
                title="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
              >
                <img
                  src="/static/wp-content/themes/vidio/framework/admin-assets/images/theme-options/logo-black.png"
                  alt="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
                  style="max-height: 24px"
                />
              </a>
              <a
                href="../index.html"
                class="logo-retina"
                title="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
              >
                <img
                  src="/static/wp-content/themes/vidio/framework/admin-assets/images/theme-options/logo%402x.png"
                  alt="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
                  style="max-height: 24px"
                />
              </a>
              <a
                href="../index.html"
                class="logo-black-retina"
                title="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
              >
                <img
                  src="/static/wp-content/themes/vidio/framework/admin-assets/images/theme-options/logo-black%402x.png"
                  alt="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
                  style="max-height: 24px"
                />
              </a>
              <a
                href="../index.html"
                class="logo-sticky"
                title="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
              >
                <img
                  src="/static/wp-content/themes/vidio/framework/admin-assets/images/theme-options/logo.png"
                  alt="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
                  style="max-height: 24px"
                />
              </a>
              <a
                href="../index.html"
                class="logo-sticky-retina"
                title="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
              >
                <img
                  src="/static/wp-content/themes/vidio/framework/admin-assets/images/theme-options/logo%402x.png"
                  alt="Vidio &#8211; Multipurpose Video Manager WordPress theme - The best Video Manager WordPress theme use Haru Vidi &#8211; Video WordPress plugin"
                  style="max-height: 24px"
                />
              </a>
            </div>
          </div>
          <!-- Right Menu -->
          <div
            class="menu-right header-navigation navbar navbar-toggleable-md"
            role="navigation"
          >
            <div id="right-menu-primary" class="menu-wrap">
              <ul
                id="right-menu"
                class="haru-main-menu nav-collapse navbar-nav nav-separate"
              >
                <li
                  id="menu-item-2523"
                  class="haru-menu haru_megamenu menu_style_tab mega-col-columns-2 mega-fullwidth menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
                >
                  <a href="{% url 'core:about' %}">About Us</a>
                </li>
                <li
                  id="menu-item-1251"
                  class="haru-menu menu_style_dropdown menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children level-0"
                >
                  <a href="{% url 'core:contact' %}">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="col-lg-2 col-md-2 header-right header-elements align-self-center"
        >
          <div class="header-elements header-elements-right">
            <div class="header-elements-item">
              <div class="video-search-shortcode style-button">
                <a
                  href="javascript:;"
                  class="video-search-button"
                  data-effect="search-zoom-in"
                  ><i class="haru-icon haru-search"></i
                ></a>
                <div
                  id="video-search-popup-1"
                  class="video-search-popup white-popup mfp-hide mfp-with-anim"
                >
                  <form
                    role="search"
                    method="get"
                    class="haru-video-search search-form"
                    action="https://demo.harutheme.com/vidio/"
                  >
                    <label for="haru-video-search-field-1">
                      <span class="screen-reader-text">Search for:</span>
                      <input
                        type="search"
                        id="haru-video-search-field-1"
                        class="search-field"
                        placeholder="Search videos&hellip;"
                        value=""
                        name="s"
                      />
                    </label>
                    <button type="submit" class="search-submit" value="Search">
                      <span>Search</span>
                    </button>
                    <input type="hidden" name="post_type" value="haru_video" />
                  </form>
                </div>
              </div>
            </div>
            <div class="header-elements-item">
              <div class="user-menu-shortcode default">
                <div class="user-account-wrap">
                  <div class="user-account-content logged-out">
                    <a href="../login/index.html" class="user-menu-login"
                      ><i class="haru-icon haru-user"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-elements-item">
              <div class="watch-later-element">
                <a href="javascript:;" class="watch-later-page-link">
                  <span class="watch-later-icon">
                    <i class="haru-icon haru-clock-o"></i>
                    <span class="watch-later-status"></span>
                  </span>
                </a>
                <ul class="haru-watch-later-list">
                  <li class="haru-watch-later-videos empty-video"></li>
                  <li class="haru-watch-later-empty-video">
                    <i class="haru-icon haru-file-video"></i>
                    <div class="watch-later-empty-message">
                      An empty videos list!
                    </div>
                  </li>
                  <li class="haru-watch-later-view-all">
                    <a
                      href="../watch-later/index.html"
                      class="haru-button haru-button-default"
                      >View all videos</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>